.rx-field {
  margin: 20px 0;
  position: relative;
}

.rx-field__info {
  line-height: 16px;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 8px;
  display: block;
  color: #999;
}

/* NOTE: rx-label should be depricated */
.rx-field__label,
.rx-label {
  display: block;
  margin: 0.5em 0;
  font-weight: bold;
}
