.rx-link {
  color: var(--blue);
}

.rx-link:hover,
.rx-link:focus {
  color: var(--lightBlue);
}

.rx-link:active {
  color: var(--darkBlue);
}

.rx-link--white {
  color: white;
}

.rx-link--white:hover,
.rx-link--white:focus {
  color: #DDD;
}

.rx-link--white:active {
  color: var(--grey);
}

.rx-link--plain {
  text-decoration: none;
}
