.rx-link {
  color: var(--blue);
  cursor: pointer;
  text-decoration: underline;
}

.rx-link:hover,
.rx-link:focus {
  text-decoration: none;
  color: var(--lightBlue);
}

.rx-link:active {
  color: var(--darkBlue);
}

.rx-link--inverse {
  color: inverse;
}

.rx-link--inverse:hover,
.rx-link--inverse:focus {
  text-decoration: none;
  color: #DDD;
}

.rx-link--inverse:active {
  color: var(--grey);
}

.rx-link--plain {
  text-decoration: none;
}
