.rx-loader {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  position: relative;
  font-size: 64px;
}

.rx-loader .rx-icon--logo-inner,
.rx-loader .rx-icon--logo-letter {
  color: var(--veryDarkBlue);
}

.rx-loader .rx-icon--logo-outer {
  color: var(--blue);
}

.rx-loader--inverse .rx-icon--logo-inner,
.rx-loader--inverse .rx-icon--logo-letter {
  color: white;
}

/* secondary (light-bg/dark-bg) */

.rx-loader--light-bg .rx-icon {
  color: var(--veryDarkBlue);
  opacity: 0.15;
}

.rx-loader--dark-bg .rx-icon {
  color: var(--veryLightBlue);
  opacity: 0.2;
}

/* animation */

@keyframes spin-cw {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@keyframes spin-ccw {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(-360deg);
  }
}

.rx-loader > .rx-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.rx-loader .rx-icon--logo-outer,
.rx-loader .rx-icon--logo-inner {
  animation-name: spin-cw;
  animation-duration: 1200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.rx-loader .rx-icon--logo-inner {
  animation-name: spin-ccw;
}

.rx-loader--light-bg .rx-icon--logo-outer,
.rx-loader--dark-bg .rx-icon--logo-outer {
  animation-duration: 1800ms;
  animation-timing-function: linear;
}

.rx-loader--light-bg .rx-icon--logo-inner,
.rx-loader--dark-bg .rx-icon--logo-inner {
  animation-duration: 1500ms;
  animation-timing-function: linear;
}
