@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-fast {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.ease {
  animation-timing-function: ease-in-out;
}

.fast {
  animation-name: spin-fast;
}

.reverse {
 animation-direction: reverse;
}

.rx-loader > * {
  display: none;
}

.rx-loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  background-image: svg-load('../../images/spinner-logo.svg');
  background-size: 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.rx-loader:before,
.rx-loader:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  border: 3px solid #111;
  animation: spin 1s infinite ease-in-out;
}

.rx-loader:before {
  border-right-color: rgba(1,1,1,0) !important;
  animation-duration: 1s;
}

.rx-loader:after {
  top: 5px;
  left: 5px;
  width: 54px;
  height: 54px;
  border-color: #028FFF;
  border-right-color: rgba(1,1,1,0) !important;
  animation-direction: reverse;
  animation-name: spin-fast;
}

.rx-loader--light-bg {
  opacity: 0.5;
  background-image: svg-load('../../images/spinner-logo-grey.svg');
}

.rx-loader--light-bg:before,
.rx-loader--light-bg:after {
  border-color: #a9b7c3;
}
