.rx-menu {
  width: 100%;
  box-sizing: border-box;
}

.rx-menu__links {
  background: white;
  box-shadow: var(--shadowLevel1);
  transition: box-shadow 0.3s;
}

.rx-menu__links:hover {
  box-shadow: var(--shadowLevel2);
}

.rx-menu__link {
  line-height: 48px;
  font-size: 14px;
  height: 48px;
  display: block;
  text-decoration: none;
  color: #333;
  padding: 0 20px;
}
.rx-menu__link:hover {
  background-color: #f9f9f9;
}

.rx-menu__link--active {
  border-left: 4px solid var(--blue);
  padding-left: 16px;
}
