.rx-modal {
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}

.rx-modal--visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.rx-modal__inner {
  max-width: 480px;
  width: 100%;
  background: white;
  position: relative;
  border-radius: 4px;
}

.rx-modal--scrollable .rx-modal__inner {
  overflow-x: hidden;
  overflow-y: auto;
}

.rx-modal--wide .rx-modal__inner {
  max-width: 640px;
}

.rx-modal__body {
  margin: 20px;
}

.rx-modal__header {
  position: relative;
  font-size: 21px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px;
  text-align: center;
  font-weight: 400;
}

.rx-modal__close-btn {
  background: none;
  border: none;
  position: absolute;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
  color: #b9b9b9;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
  padding: 0;
}

.rx-modal__footer {
  border-radius: 0 0 4px 4px;
  background-color: #fcfbfb;
  border-top: 1px solid #ddd;
  padding: 20px;
}

.rx-modal__footer:after {
  content: '';
  clear: both;
  display: table;
}

.rx-modal__footer .rx-btn {
  min-width: 120px;
  float: left;
}

.rx-modal__footer .rx-btn + .rx-btn:last-child {
  float: right;
}
