.rx-notice {
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px 0;
  color: var(--blue);
  border: 1px solid var(--blue);
}

.rx-notice--error {
  color: var(--red);
  border: 1px solid var(--red);
}

.rx-notice--success {
  color: var(--green);
  border: 1px solid var(--green);
}

.rx-notice > .rx-icon:first-child:after {
  content: ' '
}
