.rx-progress {
  height: 4px;
  width: 100%;
}

.rx-progress__bar-wrapper {
  width: 100%;
  height: 4px;
  /*background: #EAEFF3;*/
  background: var(--lightGrey);
}

.rx-progress__bar {
  height: 100%;
  height: 4px;
  transition: width 0.5s;
  background: var(--green);
  max-width: 100%;
  min-width: 0;
}
