.rx-radio,
.rx-checkbox {
  outline: none !important;
  position: relative;
  width: 18px;
  height: 18px;
  padding: 0;
  cursor: pointer;
  border-color: var(--grey);
  display: inline-block;
  color: var(--grey);
  vertical-align: middle;
  background: #FFF;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
  margin-right: .5em;
  vertical-align: top;
  transition: border-color 0.3s;
}

.rx-checkbox:hover,
.rx-radio:hover {
  border-color: var(--blue);
}

.rx-checkbox:active,
.rx-checkbox:focus,
.rx-radio:active,
.rx-radio:focus {
  border-color: var(--blue);
  border-width: 2px;
}

.rx-radio {
  border-radius: 50%;
}

.rx-radio:checked {
  box-shadow: inset 0 0 0 3px #FFF;
  background: var(--blue);
  border-color: var(--blue);
}

.rx-radio:checked:active,
.rx-radio:checked:focus {
  box-shadow: inset 0 0 0 2px #FFF;
}

.rx-checkbox:checked {
  border-color: var(--blue);
}

.rx-checkbox:checked:before {
  position: absolute;
  content: '';
  display: block;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTggNzgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgNDMuNjRsMzQuMzA1IDM0LjMwNSA2My42NC02My42NEw4My42NCAwIDMzLjk1NyA0OS44MmwtMjAtMjAiIGZpbGw9IiMwMDkwRkYiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  opacity: 1;
  top: 3px;
  left: 2px;
}

.rx-checkbox:checked:active:before,
.rx-checkbox:checked:focus:before {
  top: 2px;
  left: 1px;
}
