.rx-select {
  padding: 10px;
  display: inline-block;
  color: var(--veryDarkBlue);
  vertical-align: middle;
  background: white;
  border: 1px solid var(--grey);
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 180px;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIGJhc2VQcm9maWxlPSd0aW55JyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHg9JzBweCcgeT0nMHB4JyB3aWR0aD0nNDBweCcgaGVpZ2h0PSc2cHgnIHZpZXdCb3g9JzAgMCA0MCA2Jz48cG9seWdvbiBmaWxsPScjODQ5MDlhJyBwb2ludHM9JzI1LjMsMCAyMC4zLDYgMTUuMywwICcvPjwvc3ZnPg==");
  background-position: right;
  background-repeat: no-repeat;
  height: var(--inputHeight);
  line-height: var(--inputHeight);
  padding: 0 10px;
}

.rx-select--blocked {
  display: block;
  width: 100%;
}

.rx-select--disabled,
.rx-select:disabled {
  color: var(--grey);
  background-color: #EEE;
  cursor: not-allowed;
}

.rx-select--success {
  border-color: var(--green);
}

.rx-select--error {
  border-color: var(--red);
}

.rx-select:focus {
  border-color: var(--blue);
}
