.rx-select {
  padding: 10px;
  display: inline-block;
  color: var(--veryDarkBlue);
  vertical-align: middle;
  background: white;
  border: 1px solid var(--grey);
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 180px;
  appearance: none;
  background-image: svg-load('../../images/down-arrow.svg');
  background-position: right;
  background-repeat: no-repeat;
  height: var(--inputHeight);
  line-height: var(--inputHeight);
  background-size: 24px;
  padding: 0 10px 0 15px;
}

.rx-select--blocked {
  display: block;
  width: 100%;
}

.rx-select--disabled,
.rx-select:disabled {
  color: var(--grey);
  background-color: #EEE;
  cursor: not-allowed;
}

.rx-select--success {
  border-color: var(--green);
}

.rx-select--error {
  border-color: var(--red);
}

.rx-select:focus {
  border-color: var(--blue);
}
