.rx-subnav {
  background: white;
  box-shadow: var(--shadowLevel2);
  box-sizing: border-box;
  width: 100%;
  z-index: 101;
  height: var(--subnavHeight);
  background: white;
}

.rx-subnav__links {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.rx-subnav__links::-webkit-scrollbar {
  display: none;
}

.rx-subnav__link {
  line-height: var(--subnavHeight);
  font-size: 14px;
  height: var(--subnavHeight);
  display: block;
  text-decoration: none;
  color: #333;
  padding: 0 15px;
  display: inline-block;
}

.rx-subnav__link:hover {
  background-color: #f9f9f9;
}

.rx-subnav__link--active {
  border-bottom: 4px solid var(--blue);
  height: calc(var(--subnavHeight) - 4px);
}

@media (min-width: 768px) {
  .rx-subnav {
    height: 48px;
  }

  .rx-subnav__link {
    font-size: 15px;
    line-height: 48px;
    height: 44px;
  }

  .rx-subnav__link--active {
    height: 44px;
  }
}
