.rx-utils--no-pad {
  padding: 0;
}

.rx-utils--clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.rx-utils--float-left {
  float: left;
}

.rx-utils--float-right {
  float: right;
}

.rx-utils--no-scroll {
  overflow: hidden;
}

.rx-utils--vertical-space {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .rx-utils--vertical-space {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
