@import '../../node_modules/normalize.css/normalize.css';
@import 'variables';
@import 'components';

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

html, body {
  display: block !important;
  min-width: 320px;
  overflow-x: hidden;
  color: var(--veryDarkBlue);
  transition: background-color 2s;
  background: var(--veryLightBlue);
  font-family: var(--fontStack);
  font-size: var(--fontSizeDefault);
}

@media (--tablet) {
  body {
    margin-top: var(--navbarHeight);
  }
}
