@import '../../node_modules/normalize.css/normalize.css';
@import 'variables';
@import 'components';

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

html, body {
  box-sizing: border-box;
  min-height: 100%;
  display: block !important;
  min-width: 320px;
  overflow-x: hidden;
  color: var(--veryDarkBlue);
  background: var(--veryLightBlue);
  font-family: var(--fontStack);
  font-size: var(--fontSizeDefault);
}

body {
  /* NOTE: .rx-utils--body-has-subnav adds extra padding when there is a subnav */
  padding-top: var(--navbarHeight);
  padding-bottom: 20px;
}
