:root {
  --lightGrey: #FCFBFB;
  --grey: #B9B9B9;
  --darkGrey: #414245;
  --veryLightBlue: #F1F5F8;
  --veryDarkBlue: #1C2237;
  --lightRed: #ff706f;
  --red: #FF6261;
  --darkRed: #d73f3e;
  --lightGreen: #14cc84;
  --green: #0BBD77;
  --darkGreen: #07a667;
  --lightBlue: #32A6FF;
  --blue: #0090FF;
  --darkBlue: #0072CA;
  --orange: #FF863C;
  --yellow: #FFD224;
}
